/* header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 3%;
  display: flex;
  align-items: center;
}
.header h1 {
  font-family: "Permanent Marker", cursive;
}
.header img {
  width: 8%;
}
.header button {
  margin: 3%;
}
#logbutton {
  border-color: #14f7e5;
  color: #14f7e5;
  width: 10%;
}
#logbutton:hover {
  background-color: #df4923;
  color: #f6f7f8;
}

/* signin */
.signindiv {
  margin: 2% auto;
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#signinanchor {
  color: #4274af;
  border-bottom: 1px solid #4275af00;
}
#signinanchor:hover {
  color: #4274af;
  border-bottom: 1px solid #4274af;
}

.employerSign h1 {
  margin-bottom: 4%;
}
.employerSign p {
  margin: 0 auto;
  width: 50%;
}
#signbutton {
  color: #4274af;
  border: 1px solid #4274af;
  margin: 5%;
}
#signbutton:hover {
  color: #14f7e5;
  background-color: #4274af;
}

.positions {
  font-size: 0.7rem;
}
.signlink {
  color: #4274af;
}

.signindiv a {
  color: #4274af;
}

#col {
  margin: 0 auto;
}
.formrow {
  margin-top: 5%;
}

.backbutt {
  margin-bottom: 15%;
}
.spincontain {
  text-align: center;
  width: 100%;
  margin: 0auto;
}
.spinner {
  width: 90px;
  height: 90px;
  color: #4274af;
}

#cardImg {
  width: 15%;
  margin: 2% 42.5%;
}
.center {
  margin-top: 3%;
  width: 100%;
}

#backButton {
  color: #4274af;
  border: 1px solid #4274af;
  float: right;
  margin-right: 10%;
  width: 10%;
}

#backButton:hover {
  color: #14f7e5;
  background-color: #4274af;
}
