body {
  min-height: 100vh;
  background: rgb(20, 247, 229);
  background: radial-gradient(
    circle,
    rgba(20, 247, 229, 1) 0%,
    rgba(66, 116, 175, 1) 100%
  );
  font-family: 'Fresca', sans-serif;
}
